.icon__container {
  //background-color: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  //filter: brightness(20%);
  &:hover {
    box-shadow: 0 0 0 1px $primary;
    background-color: #ffffff;
  }
}

.icon__src {
  padding: 1rem;
}