.ImgIcon__fill {
  background-color: $primary;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  //object-fit: contain;
  //background-size: cover;
  overflow: hidden;
}

.ImgIcon__Pic {
  //border-radius: 50%;
  //color: blue;
  //fill: currentColor;
  object-fit: fill;
  width: 100%;
  height: 100%;
  //display: block;
  //overflow: hidden;
}
